<?xml version="1.0"?>
<launch>
  <arg name="no_static_map" default="false"/>
  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <arg name="robot_namespace" default="h1"/>
  <arg name="odom_topic" default="/$(arg robot_namespace)/odometry/filtered"/>

  <node pkg="move_base" type="move_base" respawn="false" name="$(arg robot_namespace)_move_base" output="screen">
    <param name="base_global_planner" value="$(arg base_global_planner)"/>
    <param name="base_local_planner" value="$(arg base_local_planner)"/>

    <param name="global_costmap/robot_base_frame" value="$(arg robot_namespace)_tf/base_link"/>
    <param name="local_costmap/robot_base_frame" value="$(arg robot_namespace)_tf/base_link"/>
    <param name="global_costmap/global_frame" value="map"/>
    <param name="local_costmap/global_frame" value="$(arg robot_namespace)_tf/odom"/>

    <rosparam file="$(find multihusky_navigation)/config/planner.yaml" command="load"/>
    <rosparam file="$(find multihusky_navigation)/config/costmap_common.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find multihusky_navigation)/config/costmap_common.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find multihusky_navigation)/config/costmap_local.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find multihusky_navigation)/config/costmap_global_laser.yaml" command="load" ns="global_costmap"/>

    <param name="global_costmap/obstacles_laser/laser/topic" value="$(arg robot_namespace)/scan"/>
    <param name="local_costmap/obstacles_laser/laser/topic" value="$(arg robot_namespace)/scan"/>

    <param name="global_costmap/width" value="100.0" />
    <param name="global_costmap/height" value="100.0"/>

    <param name="clearing_rotation_allowed" type="bool" value="false"/>
    <param name="planner_frequency" value="2.0"/>
    <param name="planner_patience" value="3.0"/>
    <!--<rosparam file="$(find multihusky_navigation)/config/recovery_planner.yaml" command="load"/>-->
    <param name="controller_frequency" value="3.0"/>
    <param name="controller_patience" value="7.0"/>
    <remap from="cmd_vel" to="/$(arg robot_namespace)/cmd_vel"/>
  </node>
</launch>

