<!--ridge-->
<launch>
 <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- more default parameters can be changed here -->
  </include>

<group ns="robot_0">
<param name="tf_prefix" value="robot_0" />
<!-- Spawn a ridgeback robot into Gazebo -->
<param name="robot_description" command="$(find xacro)/xacro --inorder $(find ridgeback_description)/urdf/ridgeback.urdf.xacro" />
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model ridge" />
</group>

<group ns="robot_1">
<param name="tf_prefix" value="robot_1" />
<!-- Spawn a ridgeback+yumi robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ridgeback_yumi_description)/urdf/ridgeback_yumi.urdf -urdf -x -3 -y 5 -z 1 -model ridgeback_yumi_model" />
</group>

<group ns="robot_2">
<param name="tf_prefix" value="robot_2" />
<!-- Spawn a ridgeback+yumi2 robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ridgeback_yumi_description)/urdf/ridgeback_yumi.urdf -urdf -x 3 -y 5 -z 1 -model ridgeback_yumi_model2" />
</group>

<group ns="robot_3">
<param name="tf_prefix" value="robot_3" />
<!-- Spawn a ridgeback+yumi3 robot into Gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find ridgeback_yumi_description)/urdf/ridgeback_yumi.urdf -urdf -x -3 -y -5 -z 1 -model ridgeback_yumi_model3" />
</group>

<group ns="robot_4">
<param name="tf_prefix" value="robot_4" />
<!-- Spawn a ridgeback2 robot into Gazebo -->
<param name="robot_description" command="$(find xacro)/xacro --inorder $(find ridgeback_description)/urdf/ridgeback.urdf.xacro" />
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 4 -y 4 -z 1 -model ridge2" />
</group>

</launch>


