<!--Main-->
<launch>

<!--PLAYPEN_MAP-->
<arg name="world_file" default="$(find navigation_stage)/stage_config/worlds/playpen_10robots50tasks.world" />
<arg name="map_file" default="$(find navigation_stage)/stage_config/maps/playpen.yaml" />

	<arg name="waypoints" default='0' />
	<arg name="robotName1" default="robot_0" />
	<arg name="robotName2" default="robot_1" />
	<arg name="robotName3" default="robot_2" />
	<arg name="robotName4" default="robot_3" />
	<arg name="robotName5" default="robot_4" />
	<arg name="robotName6" default="robot_5" />
	<arg name="robotName7" default="robot_6" />
	<arg name="robotName8" default="robot_7" />
	<arg name="robotName9" default="robot_8" />
	<arg name="robotName10" default="robot_9" />


  <master auto="start"/>
  <param name="/use_sim_time" value="true"/>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" respawn="false" >
    <param name="frame_id" value="/map" />
  </node>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>

  <!-- BEGIN ROBOT 0 -->
  <group ns="robot_0">
    <param name="tf_prefix" value="$(arg robotName1)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName1)"/>
    	<arg name="initial_pose_x" value="21.00"/>
    	<arg name="initial_pose_y" value="30.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 0 -->

  <!-- BEGIN ROBOT 1 -->
  <group ns="robot_1">
    <param name="tf_prefix" value="$(arg robotName2)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName2)"/>
    	<arg name="initial_pose_x" value="50.00"/>
    	<arg name="initial_pose_y" value="4.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 1 -->

 <!-- BEGIN ROBOT 2 -->
  <group ns="robot_2">
    <param name="tf_prefix" value="$(arg robotName3)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName3)"/>
    	<arg name="initial_pose_x" value="48.00"/>
    	<arg name="initial_pose_y" value="33.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 2 -->

 <!-- BEGIN ROBOT 3 -->
  <group ns="robot_3">
    <param name="tf_prefix" value="$(arg robotName4)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName4)"/>
    	<arg name="initial_pose_x" value="57.00"/>
    	<arg name="initial_pose_y" value="40.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 3 -->

 <!-- BEGIN ROBOT 4 -->
  <group ns="robot_4">
    <param name="tf_prefix" value="$(arg robotName5)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName5)"/>
    	<arg name="initial_pose_x" value="15.00"/>
    	<arg name="initial_pose_y" value="54.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 4 -->
  
 <!-- BEGIN ROBOT 5 -->
  <group ns="robot_5">
    <param name="tf_prefix" value="$(arg robotName6)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName6)"/>
    	<arg name="initial_pose_x" value="5.00"/>
    	<arg name="initial_pose_y" value="55.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 5 -->
  
  <!-- BEGIN ROBOT 6 -->
  <group ns="robot_6">
    <param name="tf_prefix" value="$(arg robotName7)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName7)"/>
    	<arg name="initial_pose_x" value="39.00"/>
    	<arg name="initial_pose_y" value="52.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 6 -->
  
  <!-- BEGIN ROBOT 7 -->
  <group ns="robot_7">
    <param name="tf_prefix" value="$(arg robotName8)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName8)"/>
    	<arg name="initial_pose_x" value="25.00"/>
    	<arg name="initial_pose_y" value="46.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 7 -->
  
  <!-- BEGIN ROBOT 8 -->
  <group ns="robot_8">
    <param name="tf_prefix" value="$(arg robotName9)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName9)"/>
    	<arg name="initial_pose_x" value="28.00"/>
    	<arg name="initial_pose_y" value="12.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 8 -->
  
  <!-- BEGIN ROBOT 9 -->
  <group ns="robot_9">
    <param name="tf_prefix" value="$(arg robotName10)" />
    <include file="$(find navigation_stage)/launch/amcl/includes/single_robot.launch">
    	<arg name="namespace" value="$(arg robotName10)"/>
    	<arg name="initial_pose_x" value="4.00"/>
    	<arg name="initial_pose_y" value="15.00"/>
    	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  <!-- END ROBOT 9 -->
  
   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/multi_maze_robot10.rviz" />

</launch>
