<?xml version="1.0"?>
<launch>
	<arg name="config" default="$(optenv RIDGEBACK_CONFIG base)" />

	<param name="robot_description"
	     command="$(find ridgeback_description)/scripts/env_run
	              $(find ridgeback_description)/urdf/configs/$(arg config)
	              $(find xacro)/xacro $(find ridgeback_yumi_description)/urdf/ridgeback_yumi.urdf.xacro -o $(find ridgeback_yumi_description)/urdf/ridgeback_yumi.urdf" />
	
</launch>
